<%= form_for(@bok8_lok8) do |f| %>
  <% if @bok8_lok8.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bok8_lok8.errors.count, "error") %> prohibited this bok8_lok8 from being saved:</h2>

      <ul>
      <% @bok8_lok8.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :篇名 %><br>
    <%= f.text_field :篇名 %>
  </div>
  <div class="field">
    <%= f.label :編號 %><br>
    <%= f.text_field :編號 %>
  </div>
  <div class="field">
    <%= f.label :類名 %><br>
    <%= f.text_field :類名 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
