<h1>Listing bok8_lok8s</h1>

<table>
  <thead>
    <tr>
      <th>篇名</th>
      <th>編號</th>
      <th>類名</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bok8_lok8s.each do |bok8_lok8| %>
      <tr>
        <td><%= bok8_lok8.篇名 %></td>
        <td><%= bok8_lok8.編號 %></td>
        <td><%= bok8_lok8.類名 %></td>
        <td><%= link_to 'Show', bok8_lok8 %></td>
        <td><%= link_to 'Edit', edit_bok8_lok8_path(bok8_lok8) %></td>
        <td><%= link_to 'Destroy', bok8_lok8, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bok8 lok8', new_bok8_lok8_path %>
