<p id="notice"><%= notice %></p>

<p>
  <strong>篇名:</strong>
  <%= @bok8_lok8.篇名 %>
</p>

<p>
  <strong>編號:</strong>
  <%= @bok8_lok8.編號 %>
</p>

<p>
  <strong>類名:</strong>
  <%= @bok8_lok8.類名 %>
</p>

<%= link_to 'Edit', edit_bok8_lok8_path(@bok8_lok8) %> |
<%= link_to 'Back', bok8_lok8s_path %>
