<p id="notice"><%= notice %></p>

<p>
  <strong>Bok8 lok8:</strong>
  <%= @su5_tian2.bok8_lok8 %>
</p>

<p>
  <strong>Su5 tian2 pian1 ho7:</strong>
  <%= @su5_tian2.su5_tian2_pian1_ho7 %>
</p>

<p>
  <strong>Kau3 tsai5 piau1 ki3:</strong>
  <%= @su5_tian2.kau3_tsai5_piau1_ki3 %>
</p>

<p>
  <strong>Phuan1 ing2 lik8 piau1 ki3:</strong>
  <%= @su5_tian2.phuan1_ing2_lik8_piau1_ki3 %>
</p>

<p>
  <strong>Tiong1 bun5:</strong>
  <%= @su5_tian2.tiong1_bun5 %>
</p>

<p>
  <strong>Tai5 gi2:</strong>
  <%= @su5_tian2.tai5_gi2 %>
</p>

<p>
  <strong>Tsham1 kho2:</strong>
  <%= @su5_tian2.tsham1_kho2 %>
</p>

<p>
  <strong>Tshut4 tshu3:</strong>
  <%= @su5_tian2.tshut4_tshu3 %>
</p>

<%= link_to 'Edit', edit_su5_tian2_path(@su5_tian2) %> |
<%= link_to 'Back', su5_tian2s_path %>
