<p id="notice"><%= notice %></p>

<p>
  <strong>Pinn1 mia5:</strong>
  <%= @bok8_lok.pinn1_mia5 %>
</p>

<p>
  <strong>Pian1 ho7:</strong>
  <%= @bok8_lok.pian1_ho7 %>
</p>

<p>
  <strong>Lui7:</strong>
  <%= @bok8_lok.lui7 %>
</p>

<%= link_to 'Edit', edit_bok8_lok_path(@bok8_lok) %> |
<%= link_to 'Back', bok8_loks_path %>
